apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Chart.Name }}-config-vol
data:
  hello.html: |-  
{{ .Values.hellofile | b64dec | indent 4}}
---
kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ .Chart.Name }}-config-env
data:
  MYAPP_USERNAME_KEY: {{ .Values.myEnv.name }} 
  MYAPP_START_KEY: {{ .Values.myEnv.start }}
  MYAPP_END_KEY: {{ .Values.myEnv.end }}